.txt-c{
  text-align: center;
}

img{
  width: 30%;
}

/* utility class */

.mg-bt-30{
  margin-bottom: 30px;
}

.bg-grey{
  background-color: #f9f9f9
}

.mg-top-50{
  margin-top: 50px;
}

.bd-rad{
  border-radius: 50%;
  color: blue;
}
