.txt-c{
  text-align: center;
}

.foto1 img{
  width: 40%;
}

.foto2 img{
  width: 65%;
}


/* utility class */

.mg-bt-30{
  margin-bottom: 80px;
}

.bg-grey{
  background-color: #f9f9f9
}

.mg-top-50{
  margin-top: 50px;
}

.bd-rad img{
  border-radius: 50%;
  background-color: #428bca;
  padding: 20px;
  width: 20%;
  margin-top: 50px;
}
